/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg), var(--DARK-CYAN);
    background-repeat: no-repeat, no-repeat;
    background-position: -230px -450px, 710px 300px;
    background-size: 875px auto;
    background-color: var(--DARK-CYAN);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* END OF CSS RESET */

:root {
    --DARK-CYAN: hsl(185, 75%, 39%);
    --VERY-DARK-DESATURATED-BLUE: hsl(229, 23%, 23%);
    --DARK-GRAYISH-BLUE: hsl(227, 10%, 46%);

    --DARK-BLUE: hsl(0, 0%, 59%);
    --DARK-BLUE-BORDER: hsla(0, 0%, 59%, 0.26);

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.profile-card {
    background-color: white;
    width: 19.45rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

header {
    position: relative;
}

.img-wrapper {
    position: absolute;
    bottom: -53px;
    left: calc(50% - 53px);
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.95rem;
}

.name-and-age {
    display: flex;
}

.name {
    font-size: 1rem;
    font-weight: 700;
    color: var(--VERY-DARK-DESATURATED-BLUE);
    margin-right: 0.45rem;
}

.age {
    font-size: 1rem;
    color: var(--DARK-GRAYISH-BLUE);
}

.residence {
    color: var(--DARK-GRAYISH-BLUE);
    font-size: 0.8rem;
    margin-block: 0.26rem 1.22rem;
}

.social-media-stats {
    display: flex;
    justify-content: space-evenly;
    padding-block: 1.2rem 1.23rem;
    border-top: 1px solid var(--DARK-BLUE-BORDER);
}

.stats-column {
    text-align: center;
    padding-right: 0.3rem;
}

.number-of {
    font-weight: 700;
    color: var(--VERY-DARK-DESATURATED-BLUE);
}

.subject {
    font-size: 0.6rem;
    color: var(--DARK-GRAYISH-BLUE);
    letter-spacing: 0.07rem;
}

@media screen and (max-width: 600px) {
    body {
        background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg), var(--DARK-CYAN);
        background-repeat: no-repeat, no-repeat;
        background-position: -650px -500px, 150px 300px;
        background-size: 875px auto;
    }
}